<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emma Marie Pantzar</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nanum Pen Script' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="wrapper">
        <header><h1>Emma Marie</h1></header>
        <div class="container">
            <div class="pic first">
                <div class="picture"></div>
                <div class="text"><h3>Wallah</h3></div>
            </div>
            <div class="pic second"></div>
            <div class="pic third">
                <a href="me.html">
                    <div class="picture"></div>
                    <div class="text"><h3>Massa bra</h3></div>
                </a>
            </div>
            <div class="pic fourth">
                <a href="more.html">
                    <div class="picture"></div>
                    <div class="text"><h3>Booooo ooooooo iiiii</h3></div>
                </a>
            </div>
            <div class="pic five"></div>
        </div>
    </div>
    
    
</body>
</html>