<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
</head>
<body>
<div class="wrapper_all">
    <header>
        <a href="index.html">
            <img src="../imgs/..." alt=Header"">
        </a>
        <a href="me.html">
            <img src="../imgs/..." alt="">
        </a>
        <a href="more.html">
            <img src="../imgs/..." alt="">
        </a>

        <button onclick="menue()" class="material-icons">
            <h2>
                Menu
            </h2>
        </button>

            <div class="menu visible">
                <ul>
                    <li class="row1">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="me.html">Om oss</a>
                    </li>
                    <li>
                        <a href="more.html">Mer</a>
                    </li>
                </ul>
            </div>
        
    </header>

    <footer>
        <a href="me.html" class="contact">
            <button>
                <h2>
                    Kontakta oss
                </h2>
            </button>
        </a>
    </footer>
    <script src="../script/script.js"></script>


</div>   
    
</body>
</html>