<div class="container-more">

    <div class="box highest"></div>

    <div class="text"> <p>Here is text</p></div>

    <div class="box higher"></div>

    <div class="box high"></div>
    
    <footer></footer>


</div>