
.container{
    grid-template-columns: 50% 10% auto;
    grid-template-rows: 40vh 25vh 15vh auto auto;
    grid-gap: 10px;
    background-color: #B1D6FF;
    display: grid;
    padding: 10%;
}

.pic{
    background-color: #6E7A80;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    display: grid;

    /* border-radius: 40%; */
}
.first{
    grid-column: span 1;
    grid-row: span 1;
}
.second{
    grid-column: span 2;
    grid-row: span 1;
}
.third{
    grid-column: span 2;
    grid-row: span 1;
}
.fourth{
    grid-column: span 1;
    grid-row: span 2;
}
.five{
    grid-column: span 2;
    grid-row: span 1;
}

.picture{
    background-color: #6E7A80;
    grid-row: span 1;
}
.text{
    background-color: #EAF9FF;
    grid-row: span 1;
    /* padding: 15%; */
    text-align: center;
    text-justify: newspaper;
    margin: 0;

    /* border-radius: 40%; */
    /* border: 3px; */
}
h3{
    color: black;
    margin: 0;
    font-family: Nanum Pen script;
    text-align: center;
    text-justify: newspaper;
}
