.container_index{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(6, 1fr);

}

article{
    background-color: white;
    grid-column: 1/3;
    grid-row: 1/3;
}

.box{
    border: 5% groove white;
}

.square{
    grid-column: 1/2;
    grid-row: 2/4;

    background-color: red;
}

.little{
    grid-column: 1/2;
    grid-row: 4/5;

    background-color: aquamarine;
}

.long{
    grid-column: 2/3;
    grid-row: 2/5;
    background-color: bisque;
}

.thicc{
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: black;
}