body{
    margin: 0;
}

.wrapper{
    min-height: 100vh;
    grid-template-rows: 15vh auto;
    display: grid;
    background-color: gray;

}

h1{
    color: #EAF9FF;
    font-size: 3rem;
    /* margin: 0; */
}

// 
//  Header och meny
// 

header{
    background-color: #95A6E8;
    text-align: center;
    font-family: Oswald;
    margin: 0;
}

header .menu{
    background-color: #95A6E8;
    position: fixed;
    // display: none;
    top: 30%;
    height: 70vh;
    width: 33.5em;
    color: grey;
    margin: -6.3em 0 0 0;
    padding: 0.5em 0.5em 0.5em 2.5em;
    transition: 1s;
}

.menu:hover{
    left: 1;
    right: 0;
}

.hidden{
    display: none;
}

header ul a{
    color: grey; 
    padding-bottom: 10px;
    font-size: 2rem;
    font-family: Roboto;
    font-weight: bold;
}

header ul{
    list-style-type: none; 
}

header .menu.hidden{
    display: none;
    transition: 2s;
}

header .menu.visible{
    display: block;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    transition: 1s;
}

header .material-icons{
    color: white;
    display: block;
    border: none;
}

.row1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.row2{
    grid-row: 2/3;
    grid-column: 1/2;
}
.row3{
    grid-row: 3/4;
    grid-column: 1/2
}
.row4{
    grid-row: 4/5;
    grid-column: 1/2;
}
