.newwrapper{
    padding: 10%;
    grid-template-rows: 20vh;
    background-color:  #B1D6FF;
}
.newwrapper .pic{
    height: 40vh;
    margin: 20%;
    margin-top: 0;
}
.newwrapper .text{
    padding: 20%;
}
