body{
    margin: 0;
    min-height: 100vh;
    max-width: 100vh;
}

.wrapper{
    background-color: #f1f1f1;
    grid-template-rows: 20vh auto 10vh;
    width: 100vw;
}
/* 
main{
    align-items: center;
    justify-content: center;

    display: flex;
} */

.container{
    margin: 2vh;
    height: 75vh;
    grid-gap: 20%;
}
.c_more{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1;
    display: grid;

    justify-content: center;
    align-items: center;
}
.c_index{
    grid-template-rows: 30% 20% 50%;
    grid-template-columns: 2fr;
    grid-template-areas: 
    "first first"
    "small small" 
    "long long";    
    
    grid-gap:5%;
    display:grid;

    justify-content: center;
    align-items: center;
}

.little_container{
    grid-area: long;
    flex-direction: row;
    
    display: flex;
    
    width: 100%;
    HEIGHT: 100%;  
}

.little_container .box_picture{
    grid-column: span 1;
}

.box_picture{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 50px; */
}

.box_picture, .from_more{
    width: 100%;
    grid-row: span 1;
    grid-column: span 1;
    border-radius: 50%;
    border: 1px;
}
/* 
.box_picture, h2, .from_more {
    background-color: red;
} */

.box_picture, .from_more .first{
    background-image: url('imgs/flower_1.jpg')
}
.box_picture, .from_more .second{
    background-image: url('imgs/rose_1.jpg')
}


/* .box_picture + .first{
    grid-area: first;
    background-color: blue;
} */
.box_picture + .small{
    grid-area: small;
    background-color: black;
    /* background-image: url('imgs/flower_1.jpg') */
}
/* .box_picture :nth-of-type(1){
    background-color: blue;
} */
.box_picture + .long{
    background-color: aqua;
}

.long_one {
    background-color: red;
}

article{
    max-width: 100%;
}

 header{
    margin: 0;
    height: 15vh;
    width: 100vw;
    background-color: pink;
}


footer{
    background-color: cornflowerblue;

    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
}

h1, h2, p{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}


